footer {
  /* background-color: #f9f8f8;  */
  background-color: #ffffff; 
  color: #000000;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-logo {
  float: left;
  margin-top: 80px;
  margin-left: 30px;

}

.footer-info {
  text-align: left;
}

.footer-info p {
  margin: 5px 0;
  margin-left: 110px;

}

.footer-info div {
  display: inline-block;
  margin: 60px; /* Reduce the left margin to move sections to the left */
  vertical-align: top;
}

.info-title {
  font-size: 18px; /* Larger font size for titles */
  font-weight: bold; /* Make the title text bold */
}

.info-title + p {
  margin-top: 10px; /* Add margin to create a gap between title and paragraph */
}

.social-icons img {
  margin-right: 10px;
}
.social-icons {
  margin: 20px;
}

/* Use media queries to make the layout responsive

@media screen and (max-width: 800px) { /* Apply this style when the screen width is less than or equal to 800px */
  .footer-info div {

  }


@media screen and (max-width: 600px) { /* Apply this style when the screen width is less than or equal to 600px */
  .footer-logo {
      float: none; /* Remove the float property */
      display: block; /* Make the logo a block element */
      margin-left: auto; /* Center the logo horizontally */
      margin-right: auto;
  }
}
/* Define the animation */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

/* Class to apply the animation */
.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate.animate-visible {
  opacity: 1;
  transform: translateY(0);
}
 