.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background: #fff;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
    animation: fadeInHeader 2.2s forwards;
  }
  .logo {
    height: 80px;
    margin-left: 60px;
    width: 80px;

  }
  .navLinks {
    display: flex;
    gap: 115px;
    margin-right: 60px;
    font-family: "Inria Serif";
  }
  .navLinks a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    transition: color 0.3s;
  }
  .navLinks a:hover {
    color: #3d5bcc;
  }
  .socialIcons {
    display: flex;
    gap: 5px;
    margin-right: 100px;
  }

  .socialIcons img{
    height: 24px;
    width: auto;
  }
  @keyframes fadeInHeader {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
  