.hero {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: #000;
    color: #fff;
    margin: 0;
  }
  .heroText {
    flex: 1;
    max-width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heroText h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 30px;
  }
  .heroBtn {
    display: inline-block;
    background: #fcfcfc;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    max-width: fit-content;   
    transition: 0.1s;
  }
  .heroBtn:hover {
    background: #3d5bcc;
    color: #fff;
  }
  .heroImage {
    position: relative;
    flex: 1;
    width: 50%;
    min-height: 420px;
  }
  .image {
    object-fit:fill;
  }
  