.wrapper {
    background: #d9ebf7;
    text-align: left;
    padding: 50px 80px;
  }
  .wrapper h2 {
    font-size: 45px;
    margin: 0 0 30px;
    color: #000;
  }
  .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .box {
    background: #fff;
    padding: 60px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
  }
  .box:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  